<!DOCTYPE html>
<html>
<head>
  <title>AdvertiseAgency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<br>
<h1 style="font-size: 300%;">Advertise Agency</h1>
<h3 style="color:grey;">Web application in Ruby on Rails to serve banners for an advertising agency.</h3>

<br>

<%= yield %>

</body>
</html>
